<a class="footer-wrapper footer-left-wrapper" href="#!/young-professionals" >
    <div class="sprite professional-icon"></div>
    <span class="footer-icon-text">young professionals</span>
</a>

<a class="footer-wrapper footer-middle-wrapper" href="#!/students-trips">
    <div class="sprite student-icon"></div>
    <span class="footer-icon-text">students</span>
</a>

<a class="footer-wrapper footer-right-wrapper" href="#!/trip-information" >
    <div class="sprite information-icon"></div>                
    <span class="footer-icon-text">trip information</span>
</a>
