<section class="page-container">	 
	<h2>How to register</h2>
	<div class="mean-accordion">
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-0" data-ng-click="isGroupContentOpen0 = !isGroupContentOpen0">Step 1: Stay Informed</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen0}">
				Join our mailing list so we can keep you up to date with the registration process. We promise not to send you loads of unnecessary emails, just enough to keep you informed and help you get the trip you want.
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-1" data-ng-click="isGroupContentOpen1 = !isGroupContentOpen1">Step 2: Mark Your Calendar</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen1}">
				Registration opens on: <br>
				New Applicants:  September 10th, 2013 at 10am EST <br>
				Returning Applicants:  September 9th at 12pm EST
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-2" data-ng-click="isGroupContentOpen2 = !isGroupContentOpen2">Step 3: Complete Your Registration Form</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen2}">
				Once registration is open visit www.israelonthehouse.com and click “Register Now” to complete your online application form.   What’s included in the registration forms and what type of questions will I be asked?
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-3" data-ng-click="isGroupContentOpen3 = !isGroupContentOpen3">Step 4: Check Important Emails</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen3}">
				Sachlav | IsraelontheHouse will then send you a welcome email with detailed instructions on what you need to do next in order to secure a trip. Please add theteam@israelonthehouse.com and info@israelonthehouse.com to your contacts to ensure that you receive this mail and it’s not marked as spam.
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-4" data-ng-click="isGroupContentOpen4 = !isGroupContentOpen4">Step 5: Your Flight Dates & Friend Requests</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen4}">
				Shortly after receiving your welcome email you will receive a Flight Dates and Friend Request form via email. This form will give you the opportunity to tell us what trip dates suit you, and also to let us know which friends you’d like to travel with.
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-5" data-ng-click="isGroupContentOpen5 = !isGroupContentOpen5">Step 6: Like our Facebook Page</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen5}">
				We answer your questions and post important travel tips and trip updates on our Facebook page all the time.
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-6" data-ng-click="isGroupContentOpen6 = !isGroupContentOpen6">Step 7: Schedule Your Interview</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen6}">
				About a week after registering we will send you an email requesting a short telephone interview. This interview doesn’t last more than 10 minutes.
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-7" data-ng-click="isGroupContentOpen7 = !isGroupContentOpen7">Step 8: Offering you a Flight</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen7}">
				We send out trip offers about a month after registration closes, and will continue to do so for up to 2 months after registration closes.  Trip offers will be sent out in stages according to the month you chose to travel i.e. November flights will be offered first, followed by December etc.  Once your Trip Offer lands in your inbox, you have 48 hours to accept it.
			</div>
		</div>
	</div>
</section>