<section data-ng-controller="MenuController">
	<div class="mean-accordion">
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-0" data-ng-click="isGroupContentOpen0 = !isGroupContentOpen0">Why Us</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen0}">
				<ul class="mean-accordion-group-content-links">
					<li><a href="http://israelonthehouse.com/content/why-us">Why Us</a></li>
					<li><a href="http://israelonthehouse.com/content/sachlav-team">The Sachlav Team</a></li>
					<li><a href="http://israelonthehouse.com/content/about-taglit-birthright-israel">About Taglit-Birthright</a></li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-1" data-ng-click="isGroupContentOpen1 = !isGroupContentOpen1">Trips</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen1}">
				<ul class="mean-accordion-group-content-links">
					<li><a data-ng-click="global.menuState = !global.menuState" href="#!/students-trips">Student Trips</a></li>
					<li><a data-ng-click="global.menuState = !global.menuState" href="#!/young-professionals">Young Professionals</a></li>
					<li><a data-ng-click="global.menuState = !global.menuState" href="http://israelonthehouse.com/content/campus-trips#!/signup">Campus Trips</a></li>
					<li><a data-ng-click="global.menuState = !global.menuState" href="http://israelonthehouse.com/content/federation-trips#!/signup">Federation Trips</a></li>
					<li><a data-ng-click="global.menuState = !global.menuState" href="#!/photos">Trip Photos</a></li>
					<li><a href="http://israelonthehouse.com/content/video-gallery-0">Trip Vids</a></li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-2" data-ng-click="isGroupContentOpen2 = !isGroupContentOpen2">Itineraries</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen2}">
				<ul class="mean-accordion-group-content-links">
					<li><a data-ng-click="global.menuState = !global.menuState" href="#!/students-trips">Student Trips</a></li>
					<li><a data-ng-click="global.menuState = !global.menuState" href="#!/young-professionals">Young Professionals</a></li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-3" data-ng-click="isGroupContentOpen3 = !isGroupContentOpen3">How to Register</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen3}">
				<ul class="mean-accordion-group-content-links">
					<li><a data-ng-click="global.menuState = !global.menuState" href="#!/signup">Registration Form</a></li>
					<li><a data-ng-click="global.menuState = !global.menuState" href="#!/how-to-register">Eligibility</a></li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a data-ng-click="global.menuState = !global.menuState" class="mean-accordion-group-header" id="mean-accordion-group-header-4" href="http://israelonthehouse.com/content/my-trip#!/signup"> My Trip</a>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-5" data-ng-click="isGroupContentOpen5 = !isGroupContentOpen5">Afterwards</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen5}">
				<ul class="mean-accordion-group-content-links">
					<li><a href="http://israelonthehouse.com/club-houserep">Be a HouseRep</a></li>
					<li><a href="http://sys.israelonthehouse.com/node/39?nod=true">Staff a Trip</a></li>
					<li><a href="http://israelonthehouse.com/content/intern-israel">Intern in Israel</a></li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-6" data-ng-click="isGroupContentOpen6 = !isGroupContentOpen6">Contact Us</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen6}">
				<ul class="mean-accordion-group-content-links">					
					<li><a data-ng-click="global.menuState = !global.menuState" href="#!/contact-us">Contact Us</a></li>
					<li><a href="http://israelonthehouse.com/content/faqs">FAQs</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>