<section data-ng-controller="StudentsTripsController" class="page-container">	
	<h2>Students Trips</h2>
	<img class="page-twisted-image" src="/img/content/rafting.jpg" alt="">
	<div class="page-text-content">
		<h5>Suitable for:</h5>
		<p>Students or young adults between the ages of 18 and 22.</p><br>
		<p>
			IsraelontheHouse takes you cross-country to the best sites in Israel, gives you an amazing variety of outdoor and adventure activities, and offers you free time to explore, reflect and to experience the cultural and vibrant cities of Tel aviv and Jerusalem. 
		</p>
	</div>
	<h2>Trip Highlights</h2>
	<div class="page-text-content">
		<p>
			<ul class="unstyled">
				<li>See the best of Israel from North to South</li>
				<li>Do it all from camel riding to kayaking</li>
				<li>Enjoy free Nights out in Jerusalem & Tel Aviv</li>
				<li>Travel and connect with Israeli Soldiers </li>
				<li>Have a float and get muddy at the Dead Sea</li>
				<li>Get spiritual at the Western Wall</li>
				<li>Soak up some sun on the beach in Tel Aviv </li>
				<li>Taste life on a kibbutz in the South</li>
				<li>Try it all on authentic Israeli tasting tours</li>
				<li>Experience traditional Bedouin desert hospitality</li>
			</ul>
		</p>
	</div>
	<h2>Itinerary</h2>
	<div class="mean-accordion">
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-0" data-ng-click="isGroupContentOpen0 = !isGroupContentOpen0">Day 1: Home is Where the Humus is</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen0}">
				<ul>
					<li><b>Welcome to Israel</b> - Land at Ben Gurion Airport in Tel Aviv</li>
					<li><b>Opening Ceremony</b> - A toast to your arrival at Ben Shemen Forest</li>
					<li><b>Travel North</b> - To start your adventure in the green mountains of the Golan</li>
					<li><b>“The Case for Israel”</b> - An awesome presentation about Israel’s legitimacy</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-1" data-ng-click="isGroupContentOpen1 = !isGroupContentOpen1">Day 2: The Land of Milk and Wine</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen1}">
				<ul>
					<li><b>Jilabun Hike</b> - Get your hiking shoes on and prepare to explore the North</li>
					<li><b>Mt Bental</b> - View Syria and Lebanon from an old IDF military bunker</li>
					<li><b>Kayaking</b> - Prepare to get wet and fight the rapids of the Jordan River</li>
					<li><b>Wine Tasting</b> - End off your day with a tasting tour at one of Israel's prestigious wineries </li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-2" data-ng-click="isGroupContentOpen2 = !isGroupContentOpen2">Day 3: Get High on Good Food</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen2}">
				<ul>
					<li><b>Travel to Safed</b> - One of Israel’s holy cities and the source of Kabbalah and Jewish mysticism</li>
					<li><b>Safed Walking Tour</b> - Stroll through the narrow alleyways and explore the artists colony</li>
					<li><b>Meet a Kabbalistic Artist</b> - Be amazed and inspired by the mysteries of the spiritual world</li>
					<li><b>Drive South</b> - To the home of Divon, Sachlav | IsraelontheHouse CEO</li>
					<li><b>BBQ Time</b> -  Chill out with great food, music and good company at Divon’s place</li>
					<li><b>Shechiyanu Ceremony</b> - Mark your arrival in Jerusalem with a special ceremony</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-3" data-ng-click="isGroupContentOpen3 = !isGroupContentOpen3">Day 4: Heroes Past and Present</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen3}">
				<ul>
					<li><b>Pick up a Soldier</b> - Meet up with your IDF soldier travel buddies </li>
					<li><b>Shekel</b> - Take the opportunity to give back and volunteer </li>
					<li><b>Yad Vashem</b> - Tour the Yad Vashem Holocaust Memorial Museum</li>
					<li><b>Holocaust Survivor</b> - Meet with a survivor and hear their personal story</li>
					<li><b>Mt Hertzl</b> - Pay your respects at Israel’s largest IDF cemetery and memorial site</li>
					<li><b>Night Out</b> - Head out on the town and experience Jerusalem nightlife </li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-4" data-ng-click="isGroupContentOpen4 = !isGroupContentOpen4">Day 5: Culture Shock</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen4}">
				<ul>
					<li><b>Jerusalem Old City</b> - Explore the alleyways of Jerusalem's Old City and delve into its history</li>
					<li><b>Davidson Archeological Center</b> - See and touch the remains of the Second Temple</li>
					<li><b>Western Wall</b> - Lay your hands on Israel’s most holy site and experience it’s unique atmosphere</li>
					<li><b>Mahane Yehuda</b> - Shop, taste and explore one of Israel’s largest open air markets</li>
					<li><b>Shabbat Prep</b> - Head back to your hotel to prepare yourself for Shabbat</li>
					<li><b>Kabbalat Shabbat</b> - Experience an authentic Israeli Shabbat service followed by a great dinner and Shabbat </li>oneg (Party with loads of food!)
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-5" data-ng-click="isGroupContentOpen5 = !isGroupContentOpen5">Day 6: Reflection and Confection</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen5}">
				<ul>
					<li><b>Coffee and Cakes</b> - What better way to start a chilled out Saturday morning</li>
					<li><b>Free Time</b> - Meet up with family and friends at your hotel</li>
					<li><b>Walking Tour</b> - Head out for a tour of Jerusalem’s historic neighborhoods</li>
					<li><b>Havdalah</b> - A short ceremony marking the end of Shabbat and the beginning of a new week</li>
					<li><b>Shopping</b> - Time out on Ben Yehuda to browse, shop and enjoy the nightlife</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-6" data-ng-click="isGroupContentOpen6 = !isGroupContentOpen6">Day 7: Space for my Camel?</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen6}">
				<ul>
					<li><b>Midras Caves</b> - Crawl through the caves and hideouts of rebels from the Bar Kochba Revolt </li>
					<li><b>Gaza Strip Overlook</b> - Learn about one of the most highly disputed places in the world</li>
					<li><b>Soldier Training</b> - Let your peer soldiers give you a taste of extreme physical training</li>
					<li><b>Camel Ride</b> - Make a new hairy friend while traveling across the dunes at sunset </li>
					<li><b>Bedouin Experience</b> - Enjoy a sumptuous feast, music, and an evening under the stars </li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-7" data-ng-click="isGroupContentOpen7 = !isGroupContentOpen7">Day 8: Mountains and Mud Pie</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen7}">
				<ul>
					<li><b>Masada</b> - Watch the sunrise and explore the ancient fortress and palace of King Herod </li>
					<li><b>Dead Sea</b> - Soak up the sun, coat yourself in mineral mud, and float away </li>
					<li><b>David Ben Gurion</b> - Visit the home of Israel’s first Prime Minister and learn about his vision </li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-8" data-ng-click="isGroupContentOpen8 = !isGroupContentOpen8">Day 9: Sand and Skyscrapers</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen8}">
				<ul>
					<li><b>Ein Gedi</b> -  Relax in the hot springs and waterfalls of this famous desert oasis</li>
					<li><b>Independence Hall</b> - Get patriotic in the place where the State of Israel was declared </li>
					<li><b>Jaffa Port</b> - Explore & buy last minute souvenirs at Tel Aviv’s famous port area </li>
					<li><b>Final Group Activity</b> - Reflect on the last 10 days & say goodbye to your guide</li>
					<li><b>Free Night in Tel Aviv</b> - Head out for some fun to end off your trip to Israel</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-9" data-ng-click="isGroupContentOpen9 = !isGroupContentOpen9">Day 10: Drive to the Airport</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen9}">
				<ul>
					<li><b>Drive to the Airport</b> - Say your goodbyes & travel safely</li>
				</ul>
			</div>
		</div>
	</div>
	<p>Please note that your final trip itinerary may be a little different to this itinerary, depending on the season in which you travel and which day of the week you arrive and depart.</p>
</section>