<section class="page-container">	
	<h2>Trip options and dates</h2>
	<div class="mean-accordion">
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-0" data-ng-click="isGroupContentOpen0 = !isGroupContentOpen0">Students Trips</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen0}">
				IsraelontheHouse takes you cross-country to the best sites in Israel, gives you an amazing variety of outdoor and adventure activities, and offers you free time to explore, reflect and to experience the cultural and vibrant cities of Tel aviv and Jerusalem. 
				<a class="signup-button" href="/#!/students-trips">Ream More</a>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-1" data-ng-click="isGroupContentOpen1 = !isGroupContentOpen1">Young Professionals</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen1}">
				This is for postgraduate students, career climbers, and young “up-and-comers” between 22 and 26 years old who want a Taglit-Birthright Israel experience with a difference. IsraelontheHouse Young Professional Trips offer you all the best of a Birthright Israel trip, with opportunities to network, to learn and debate Israel’s politics, and delve deeper into it’s cultural scene.
				<a class="signup-button" href="/#!/young-professionals">Ream More</a>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-2" data-ng-click="isGroupContentOpen2 = !isGroupContentOpen2">Campus Trips</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen2}">
				This is your chance to travel with a large group of friends and classmates from your university or college campus. IsraelontheHouse partners with various hillels to bring campus buses, which cater exclusively to your specific campus, and allow you to share the adventure with the people you know. Want to partner with us, or see if your campus has reserved a trip date? 
				<a class="signup-button" href="http://israelonthehouse.com/content/campus-trips#!/signup">Ream More</a>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-3" data-ng-click="isGroupContentOpen3 = !isGroupContentOpen3">Federation Trips</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen3}">
				Federation trips allow you to travel with people from your state, and make awesome new friends close to home. Jewish Federations in the U.S often choose to reserve a trip date with us so they can give the young adults in their community the chance to experience their Birthright Israel trip together. Want to see if your local federation has reserved a trip date?
				<a class="signup-button" href="http://israelonthehouse.com/content/federation-trips#!/signup">Ream More</a>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-4" data-ng-click="isGroupContentOpen4 = !isGroupContentOpen4">Trip Dates</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen4}">
				Winter trip dates:  November, December, January, February, March <br>	
				Winter registration opens: September 10th, 2013 (September 9th for previous applicants) <br>
				Summer trip dates:  May, June, July, August, September <br>
				Summer registration opens:  February 2014 (exact dates will be released closer to the time) <br>
			</div>
		</div>
	</div>
</section>