<section data-ng-controller="YoungProfessionalsController" class="page-container">	
	<h2>Young Professionals</h2>
	<img class="page-twisted-image" src="/img/content/boyandgirl.jpg" alt="">
	<div class="page-text-content">
		<h5>Suitable for:</h5>
		<p>Students, career climbers, and young “up-and-comers” between 22 and 26 years old.</p><br>
		<p>
			IsraelontheHouse has a new and exclusive trip option which offers you the legendary Taglit-Birthright Israel experience, while enriching your trip with opportunities to network with like-minded people, learn and debate about Israel’s politics, delve deeper into it’s cultural scene, and taste a wide variety of Israeli culinary specialities.
		</p>
	</div>
	<h2>Trip Highlights</h2>
	<div class="page-text-content">
		<p>
			<ul class="unstyled">
				<li>See and experience the best of Israel from North to South</li>
				<li>Meetings with successful leaders in Israeli entrepreneurship </li>
				<li>Culinary tasting tours which include everything from wine, cheese, to chocolate</li>
				<li>10 days of jam packed adventure with everything from camel riding to kayaking </li>
				<li>Philanthropy workshops to help you learn to both earn and give back </li>
				<li>Free nights out in Tel Aviv and at the exclusive Mamilla Boulevard in Jerusalem</li>
				<li>Experience traditional Bedouin hospitality and desert culture</li>
				<li>Dynamic debates and seminars with highly acclaimed speakers on Israeli politics</li>
				<li>Hidden bonus activities to infuse your trip with that little bit extra</li>
			</ul>
		</p>
	</div>
	<h2>Itinerary</h2>
	<div class="mean-accordion">
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-0" data-ng-click="isGroupContentOpen0 = !isGroupContentOpen0">Day 1: Israel Touch Down</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen0}">
				<ul>
					<li><b>Welcome to Israel</b> - Land at Ben Gurion Airport in Tel Aviv</li>
					<li><b>Opening Ceremony</b> - A toast to your arrival in Ben Shemen Forest</li>
					<li><b>Viewpoint</b> - Take in the view and get an "Israel overview"</li>
					<li><b>Welcoming Activity</b> - Get the full scoop on the next 10 days</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-1" data-ng-click="isGroupContentOpen1 = !isGroupContentOpen1">Day 2: A Land of Wine and Chocolate</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen1}">
				<ul>
					<li><b>Gamla Hike</b> - Get your hiking shoes on and prepare to explore the Golan Heights</li>
					<li><b>Golan Overlook</b> - Take some photos and enjoy the view over Israel’s Northern region</li>
					<li><b>Audio Visual Presentation</b> - Listen to war stories & discover the vast history of the Golan</li>
					<li><b>Le Chaim</b> - Enjoy a wine tasting tour at one of Israel's top wineries</li>
					<li><b>Chocolate Tasting</b> - Satisfy your sweet tooth with tasty visit to the chocolate factory</li>
					<li><b>Evening Presentation</b> - Society through the lens by renowned photographer Adi Nes</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-2" data-ng-click="isGroupContentOpen2 = !isGroupContentOpen2">Day 3: A Taste of Cheese and Kabbalah</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen2}">
				<ul>
					<li><b>Travel to Safed</b> - One of Israel’s holy cities and the source of Kabbalah and Jewish mysticism</li>
					<li><b>Safed Walking Tour</b> - Stroll through the narrow alleyways and explore the artists colony</li>
					<li><b>Meet a Kabbalistic Artist</b> - Be amazed and inspired by the mysteries of the spiritual world</li>
					<li><b>Cheese Tasting</b> - Visit the 15th century cheese making factory for a tour and tasting</li>
					<li><b>Drive South</b> - Head towards Jerusalem for part two of your Israel adventure</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-3" data-ng-click="isGroupContentOpen3 = !isGroupContentOpen3">Day 4: Looking Back and Moving Forward</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen3}">
				<ul>
					<li><b>Yad Vashem</b> - Tour the Yad Vashem Holocaust Memorial Museum</li>
					<li><b>Holocaust Survivor</b> - Meet with a survivor and hear their personal story</li>
					<li><b>Mahane Yehuda Market</b> - Taste and explore one of Israel’s biggest open air markets</li>
					<li><b>Volunteer Program</b> - Take the opportunity to pack Shabbat meals for the less fortunate</li>
					<li><b>Free Night Out</b> - Enjoy a night out in Jerusalems exclusive Mamilla Boulevard	</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-4" data-ng-click="isGroupContentOpen4 = !isGroupContentOpen4">Day 5: Old City Explorations</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen4}">
				<ul>
					<li><b>Old City Tour</b> - Explore the alleyways of Jerusalem's Old City and delve into its history</li>
					<li><b>Davidson Archeological Center</b> - See and touch the remains of the Second Temple</li>
					<li><b>Western Wall</b> - Lay your hands on Israel’s most holy site and experience it’s unique atmosphere</li>
					<li><b>Kabbalat Shabbat</b> - Experience a Shabbat service at the Western Wall followed by a delicious dinner</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-5" data-ng-click="isGroupContentOpen5 = !isGroupContentOpen5">Day 6: Shabbat Shalom Jerusalem Style</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen5}">
				<ul>
					<li><b>Israel Museum*</b> - View some of Israel’s most precious historical and modern day treasures</li>
					<li><b>Israel Update</b> - Get your head around the conflict with a presentation by Neil Lazarus</li>
					<li><b>Free Time</b> - Relax, take a stroll, or meet up with family and friends at your hotel</li>
					<li><b>Havdalah</b> - A short ceremony marking the end of Shabbat and the beginning of a new week</li>
					*Subject to whether your hotel is within walking distance
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-6" data-ng-click="isGroupContentOpen6 = !isGroupContentOpen6">Day 7: Dead Sea Cruising and Bedouin Cuisine</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen6}">
				<ul>
					<li><b>Mt Hertzl</b> - Visit the largest IDF cemetery and memorial site</li>
					<li><b>Dead Sea</b> - Soak up the sun, coat yourself in mineral mud, and float away</li>
					<li><b>Bedouin Experience</b> - Enjoy a traditional Bedouin feast, music, and an evening under the stars</li>
					<li><b>Camel Ride</b> - Explore the Negev with a sunset journey across the dunes</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-7" data-ng-click="isGroupContentOpen7 = !isGroupContentOpen7">Day 8: Desert Sand and Sunshine</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen7}">
				<ul>
					<li><b>Masada</b> - Watch the sunrise and explore the ancient fortress and palace of King Herod</li>
					<li><b>Neve Midbar</b> - Relax in the hot springs and waterfalls of this famous desert oasis</li>
					<li><b>David Ben Gurion</b> - Visit the home & grave of Israel’s first Prime Minister</li>
					<li><b>Cafe Dilemma</b> Discuss Middle East politics and possible solutions</li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-8" data-ng-click="isGroupContentOpen8 = !isGroupContentOpen8">Day 9: Zionism and Southern Flavors</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen8}">
				<ul>
					<li><b>Salad Trail</b> - Enjoy an agricultural tasting tour & a look into the "Zionism of the South"</li>
					<li><b>Sderot Media Center</b> - Visit a media house which is situated amidst the conflictd</li>
					<li><b>Drive to Tel Aviv</b> - Settle into your hotel & prepare for a free night out </li>
				</ul>
			</div>
		</div>
		<div class="mean-accordion-group">
			<a class="mean-accordion-group-header" id="mean-accordion-group-header-9" data-ng-click="isGroupContentOpen9 = !isGroupContentOpen9">Day 10: Raising the Flag</a>
			<div class="mean-accordion-group-content animated" data-ng-class="{'mean-accordion-group-content-open': isGroupContentOpen9}">
				<ul>
					<li><b>Tour Tel Aviv</b> - Learn the history of Israel’s biggest city while touring Jaffa to Newe Tzedek</li>
					<li><b>Independence Hall</b> - Get patriotic in the very room where the State of Israel was declared</li>
					<li><b>Entrepreneurship Workshop</b> - Meet with a successful Israeli entrepreneur and hear their business success story</li>
				</ul>
			</div>
		</div>
	</div>
</section>