<h2>Sign up for more info!</h2>
<form data-ng-submit="next()">
	<input type="text" required   data-ng-model="contact.firstName" placeholder="First Name">
	<input type="text" required   data-ng-model="contact.lastName" placeholder="Last Name">
	<input type="email" required  data-ng-model="contact.email" placeholder="Email Address">
	<input type="number" required data-ng-model="contact.phone" placeholder="Phone Number">
	<button type="submit" value="send" class="signup-button pull-right">
		Send
	</button>
	<div class="clearfix"></div>
</form>
<p>
	Don't worry we won't share your info with anyone else, it's just to help you get on a trip. We'll do our best not to send you too many emails - just enough to keep you informed about registration and trip info.
</p>